{% extends 'base.html.twig' %}

{% block title %}Ligne index{% endblock %}

{% block body %}
    <h1>Ligne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Info1</th>
                <th>Info2</th>
                <th>Info3</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Total</th>
                <th>Facture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne in lignes %}
            <tr>
                <td>{{ ligne.id }}</td>
                <td>{{ ligne.info1 }}</td>
                <td>{{ ligne.info2 }}</td>
                <td>{{ ligne.info3 }}</td>
                <td>{{ ligne.prix }}</td>
                <td>{{ ligne.quantite }}</td>
                <td>{{ ligne.total }}</td>
                <td>{{ ligne.facture.num }}</td>
                <td>
                    <a href="{{ path('app_ligne_show', {'id': ligne.id}) }}">show</a>
                    <a href="{{ path('app_ligne_edit', {'id': ligne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ligne_new') }}">Create new</a>
{% endblock %}
